<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Superhero Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <div class= "jumbotron">
        <h2>Hello goodGuys!</h2>
        <div id="sample">
          <h3>{{title}}</h3>
          <ul v-for="n in numbers">
            <li>{{n}}</li>
          </ul>
            <h3>{{heros[0].name}}</h3>
        </div>
        <a href="/bears" class="btn btn-primary">Show me some Superheros.</a>
      </div>
      <img src="http://funnyasduck.net/wp-content/uploads/2013/01/funny-robocop-unicorn-spoof-movie-poster-pics.jpg" class="img-responsive" alt="Responsive image">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="hero.js"></script>
  </body>
</html>
