<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Heroes and Villains</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <div class="center-block">
        <h2>Heros and Villains</h2>
        <img src="http://maxwell-creative.com/wp-content/uploads/2017/04/homebg2.jpg" class="img" alt="Responsive image">
      </div>
    </div>
    <div id="home-btns">
      <a href="/badGuys" class="villButton">
        <i class="fa fa-icon-circle-arrow-left"></i>Villains</a>
      <a href="/goodGuys" class="heroButton">
        <i class="fa fa-icon-circle-arrow-right"></i>Heroes</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript"></script>
  </body>
</html>
